@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sansita&display=swap");

h1 {
  font-family: "Sansita", sans-serif;
  font-weight: bold;
  color: #b15054;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

.watched {
  text-decoration: line-through;
}
