@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");
h1 {
  color: #f5232ac4;
  font-family: "Rouge Script", cursive;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

.watched {
  text-decoration: line-through;
}
